{{#if blogs.length}}
<section>
    <h2>All of your blogs</h2>
    {{#each blogs as |blog|}}
    {{> dashboard-bloginfo blog}}
    {{/each}}

</section>
{{/if}}

<button type="submit" class="btn"><a class="link" href="../views/newblog.handlebars">+ New Post here</a></button>

<script src="../public/js/addpost.js"></script>